footer {
  background: rgb(158, 61, 100);
  background: linear-gradient(
    90deg,
    rgba(255, 181, 84, 1) 0%,
    rgba(254, 94, 81, 1) 50%,
    rgba(158, 61, 100, 1) 100%
  );
}

footer h2 {
  color: #fff;
  font-size: 2em;
  font-family: "Fugaz One", cursive;
}

footer .list-group-item {
  background: transparent;
  border: 0;
}

footer .list-group-item fa-icon {
  font-size: 2em;
  color: #f9aca9;
}

footer .list-group-item fa-icon:hover {
  color: white;
}

footer .footer-copyright a {
  color: white;
  text-decoration: none;
}
