<!-- Footer -->
<footer class="page-footer font-small bg-dark text-light pt-4">
  <!-- Footer Elements -->
  <div class="container">
    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h2 class="mb-1">Pelis App</h2>
      </li>
    </ul>
    <!-- Call to action -->
    <ul class="list-group list-group-horizontal d-flex justify-content-center">
      <li class="list-group-item p-2">
        <a href="">
          <fa-icon [icon]="facebookIcon"></fa-icon>
        </a>
      </li>
      <li class="list-group-item p-2">
        <a href="">
          <fa-icon [icon]="twitterIcon"></fa-icon>
        </a>
      </li>
      <li class="list-group-item p-2">
        <a href="">
          <fa-icon [icon]="instagramIcon"></fa-icon>
        </a>
      </li>
      <li class="list-group-item p-2">
        <a href="">
          <fa-icon [icon]="youtubeIcon"></fa-icon>
        </a>
      </li>
      <li class="list-group-item p-2">
        <a href="">
          <fa-icon [icon]="linkedinIcon"></fa-icon>
        </a>
      </li>
      <li class="list-group-item p-2">
        <a href="">
          <fa-icon [icon]="githubIcon"></fa-icon>
        </a>
      </li>
    </ul>
  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 pb-5">
    © 2020 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> joshzulett.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
