<div 
    class="movie-container w-100 h-100 bg-dark d-flex align-items-center"
    [ngStyle]="{'background-image': 'linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(https://image.tmdb.org/t/p/original/jOzrELAzFxtMx2I4uDGHOotdfsS.jpg)'} "
>
    <div class="container mt-5 mb-4 pt-5 pb-5">
        <div
            class="movie-content d-flex text-light flex-wrap flex-md-nowrap align-items-sm-end align-items-md-center h-100">
            <div class="w-100">
                <div>
                    <h1>Pelis App</h1>
                </div>
                <div>
                    <p><em>Desarrollado por Oliver Zulett</em></p>
                    <p class="lead text-left">Pelis app es una aplicacion desarrollada en angular que consume la rest
                        api de The Movie DB para mostrarte las peliculas que estan en cartelera, las peliculas mas
                        populares del momento y las mas populares entre los niños.</p>
                </div>
            </div>
        </div>
    </div>
</div>